version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspace:cached
    command: sleep infinity
    network_mode: service:app
    environment:
      - NODE_ENV=development
      - PORT=5000
      - REACT_APP_API_URL=http://localhost:5000
    ports:
      - "3000:3000"
      - "5000:5000" 